<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
<title>Docker App Quote </title>
<div class="screen">
  <div class="screen-image"></div>
  <div class="screen-overlay"></div>
  <div class="screen-content">
    <i class="screen-icon fa-brands fa-codepen"></i>
    <div class="screen-user">
      <span class="name" data-value="CODEPEN" style="font-size:45px"> {{ quote }} </span>
      <a class="link" href="https://youtube.com/@Hyperplexed" target="_blank"></a>
    </div>
  </div>
</div>